// Colors

$primary-color: #55c57a;
$primary-light-color: #7ed56f;
$primary-dark-color: #28b485;

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;
$third-color-light: #2998ff;
$third-color-dark: #5643fa;

$white-color: #fff;
$black-color: #000;
$dark-grey-color: #777;
$dark-grey-color-2: #999;
$dark-grey-color-3: #333;
$light-grey-color-1: #f7f7f7;
$light-grey-color-2: #eee;

// Grid 
$grid-width: 114rem;
$gap-vertical: 8rem;
$gap-vertical-small: 6rem;
$gap-horizontal: 6rem;

// size
$font-size-default: 1.6rem;